<html>
 <!-- use &gt%- so html renders as html 
    and not as escape strings as is the case with  &gt%=   -->
    <%- include("./partials/header.ejs")%>
   
  <body>
      <!-- Use - instead of = in ejs tag so var not special escaped etc -->
      <%- include("./partials/navigation.ejs");  %>

    <div class="about content">
      <h2>About Us ...</h2>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
